.nav-item a { 
    background: linear-gradient(to right,rgb(19, 118, 156),rgb(226, 69, 21),rgba(0, 100, 200, 1))0 100%/0 3px no-repeat border-box padding-box;
    transition: background-size 400ms;
}
.nav-item a:hover {
    background-size: 100% 3px;
    background-position: 100% 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "vazir";
}
.images-section{
}
.wrap1{
	display: grid;
	grid-template-columns: repeat(3 , 1fr);
	grid-template-rows: repeat(2 , 300px);
	gap: 1.5rem;


}
.image-1{

}
.image-2{

}
.wrap-2{

}
.image-3{

}
.image-4{
	grid-column: 1 / 4


}
img {
	height: 100%;
	width: 100%;
	display: block;

}
@media screen and (max-width: 992px){
	.wrap1 {
		grid-template-columns: repeat(2, 1fr) !important;
		grid-template-rows: repeat(2, 300px) !important;
	}
	.image-4 {
		grid-column: 2 /3 !important;
	}
}
@media screen and (max-width: 768px) {
    .wrap1 {
		grid-template-columns: repeat(1, 1fr) !important;
		grid-template-rows: repeat(2, 300px) !important;
	}
	.image-4   {
		grid-column: unset !important;
	}
}
@media screen and (max-width:510px) {
	p {
		line-height: 2rem !important; 
		font-size:small;
	}
	h3 {
		font-size: large !important;
	}
	.paragraf-section {
		margin-top:  4rem !important;
	}
	
}
h3 {
	font-weight: bold;
	font-size: x-large;
	text-align: center;
}
h3::after , h3::before {
	content: "";
	background-color: rgb(250, 7, 7);
	height: 4px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	max-width: 7rem;
	min-width: 2rem;
  
}
p {
	line-height: 3rem;
}
.paragraf-section {
	margin-top: 8rem;
}


